*{
  padding: 0px;
  margin: 0px;
}
a{
  text-decoration: none;
}
body{
  background-color: rgb(154, 149, 149);
}
/* .header{
  background: rgb(125, 123, 123);
}
.container{
  padding-top: 15px;
  padding-bottom: 15px;
}
.container .heading{
  font-family:cursive;
  text-transform: capitalize;
}

.container .list img{
  height: 250px;
  width:200px;
  border: 1px solid rgb(149, 148, 148);
  border-radius: 10px; 
  margin-left: 50%;
  margin-top: 100px;
  transform: translate(-50%);
}
.container .list .title{
  padding-top: 0px;
  font-family: sans-serif;
  padding-left: 92px;
} */
/* .container .list{
  padding-top: 40px;
}
.container .list span{
  font-family: sans-serif;
  padding-left: 92px;
}
.container .list .watch{
  font-family: sans-serif;
  border: 1px solid #000;
  padding: 5px 10px;
  color: white;
  margin-left: 92px;
  transition: all linear 0.3s;
}
.container .list .watch:hover{
  background: rgb(148, 26, 26);
}
.net_mov{
  background: rgb(165, 163, 163);
  overflow: "";
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.net_mov{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */
.clock{
  text-align: center;
  padding-top: 260px;
  font-size: 70px;
}












